.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0; 
    padding-top: 0; 
  }
  
  .logo {
    width: 70px;
    height: auto;
    margin-right: 10px;
  }
  h1 {
    font-size: 30px;
    padding-top: 20px;
  }
  
  video {
    width: 100%; /* Adjust video width to fill container */
    max-height: 400px; /* Limit video height */
    border: 1px solid #ffffff; /* Add border around video */
    background-color: white;
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto; /* Adjust the height automatically based on content */
  }
  
  .button-container button {
    background-image: linear-gradient(to right, #bc24ef, #f600fa);
    padding: 10px 20px; /* Add padding to adjust button size */
    margin: 20px;
    font-size: 16px; /* Adjust font size as needed */
    border: none;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
  }
  